.promotionnal-banner-small {
    display: flex;

    &__text-container {
        width: 35rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem;

        &--purple {
            background-color: #BF90FB;
        }

        &--blue {
            background-color: #739AFF;
        }
    }

    &__header {
        font-size: 3rem;
        font-weight: bold;
    }

    &__description {
        color: var(--color-primary);
        font-size: 2rem;
        margin-top: 1rem;
    }

    &__img-container {
        width: 22rem;
    }

    &__img {
        width: 100%;
        height: auto;
    }
}

.tutorial-banner {
    width: 30rem;
    height: 17rem;
    position: relative;

    &--text-white {
        color: var(--color-primary);
    }

    &--text-black {
        color: var(--color-black);
    }
    // grid-area: banner;

    // padding: 1rem;
    // background-image: url('../img/flowers.png');

    &__image {
        width: 100%;
        height: auto;
    }

    &__header {
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        font-size: 2rem;
        font-weight: bold;
    }

    &__description {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
    }
}

.tutorial-banner-small {
    width: 30rem;
    height: 11rem;
    position: relative;

    &--text-white {
        color: var(--color-primary);
    }

    &--text-black {
        color: var(--color-black);
    }
    // grid-area: banner;

    // padding: 1rem;
    // background-image: url('../img/flowers.png');

    &__image {
        width: 100%;
        height: auto;
    }

    &__header {
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        font-size: 2rem;
        font-weight: bold;
    }

    &__description {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 1.5rem;
        left: 1.5rem;
    }
}

.we-deliver-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 7rem 1rem 4rem 1rem;
    background-color: var(--color-secondary);
    color: var(--color-primary);

    &__text {
        font-size: 16rem;
        font-weight: bold;
    }
}