.promotionnal-banner-small {
    display: flex;

    &__text-container {
        width: 35rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem;

        &--purple {
            background-color: #BF90FB;
        }

        &--blue {
            background-color: #739AFF;
        }
    }

    &__header {
        font-size: 3rem;
        font-weight: bold;
    }

    &__description {
        color: var(--color-primary);
        font-size: 2rem;
        margin-top: 1rem;
    }

    &__img-container {
        width: 22rem;
    }

    &__img {
        width: 100%;
        height: auto;
    }
}

.tutorial-banner {
    width: 30rem;
    height: 20rem;
    position: relative;
    // padding: 1rem;
    // background-image: url('../img/flowers.png');

    &__image {
        width: 100%;
        height: auto;
    }

    &__header {
        position: absolute;
        top: 1rem;
        left: 1rem;
        font-size: 2rem;
        font-weight: bold;
        color: var(--color-primary);
    }

    &__description {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 1rem;
        right: 1rem;
        color: var(--color-primary);
    }
}