//wrapper for a button

.wrapper {
    display: flex;
    justify-content: center;
}


.btn-store {
    background-color: var(--color-secondary);
    height: 5rem;
    width: 20rem;
    border-radius: 0.5rem;
    font-weight: 700;
    color: var(--color-primary);

    //text inside of the button
    font-size: 2rem;
    text-align: center;
    line-height: 2.5;
}