.input-container {
    display: flex;
    align-items: center;
}

.label {
    width: 7rem;
}

.input {
    width: 100%;
    padding: 1.5rem 2.5rem;
    border-radius: 6px;
    border: 1px solid var(--color-light-gray);
}