 /* selecting each and every element on the page and applying reset to it */
 *,
 *::after,
 *::before {
     margin: 0;
     padding: 0;
     /*border box inherited from body*/
     box-sizing: inherit;
 }

html {
    //1rem = 10px 10px/16px = 62.5%
    font-size: 62.5%;

    //will increase or reduce the font-size based on the screen size in the future
}


body {
    /*easier to calculate props: total  width and height will include paddings */
    box-sizing: border-box;
}