.heading-primary {
    font-weight: 800;
    font-size: 3.5rem;
    color: var(--color-black);
}

.heading-secondary {
    font-weight: 800;
    font-size: 3rem;
    color: var(--color-dark-gray);
    padding: 2rem 5rem; 
}