.heading-primary {
    font-weight: 800;
    font-size: 4rem;
    color: var(--color-black-header);

    &--white {
        color: var(--color-primary);
    }
}

.heading-secondary {
    font-weight: 800;
    font-size: 3rem;
    color: var(--color-black-header);
}