.heading-primary {
    font-weight: 800;
    font-size: 3.5rem;
    color: var(--color-black-header);
}

.heading-secondary {
    font-weight: 800;
    font-size: 4rem;
    color: var(--color-black-header);
}