.account {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 5rem 0;

    &__heading-primary {
        margin-bottom: 5rem;
    }

    &__account-wrapper {
        display: grid;
        grid-template-columns: 1fr 3fr;
        column-gap: 3rem;
    }

    &__account-sidebar {
        display: flex;
        // width: 20rem;
    }

    &__content-container {
        display: flex;
        padding: 3rem;
        border: 1px solid var(--color-light-gray);
    }
}

.account-sidebar {
    &__sidebar-list {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__item {
        padding: 1rem;
        border: 1px solid var(--color-light-gray);
    }
}