.category {
    &__category-products {
        margin-top: 5rem;
    }

    &__promotional-banners {
        margin-top: 5rem;
    }
}

.category-products {
    &__header-container {
        display: flex;
        justify-content: space-between;
    }

    &__category-products-sidebar {
        display: flex;
        flex-direction: column;
        background-color: var(--color-light-gray);
        padding: 3rem 2.5rem;
        grid-row: 1 / 3;
    }
}

.category-products-sidebar {
    &__property-group {
        display: flex;
        flex-direction: column;
        margin-top: 3;
        margin-bottom: 5rem;
        line-height: 2.3rem;
    }

    &__property-heading {
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    &__property-item {
        font-size: 1.6rem;

        &--active {
            font-weight: bold;
        }
    }
}