.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__promotionnal-banner-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }

    &__button-container {
        display: flex;
        justify-content: center;
        margin-top: 4rem;
    }

    &__categories-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        column-gap: 3rem;
        row-gap: 1.5rem;
        padding: 5rem 0;
        text-decoration: underline;
    }
}

.tutorial-banner-container {
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // grid-template-areas:
    //                     "header header"
    //                     "banner banner"
    //                     "banner banner";
    
    &__inner-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        row-gap: 2rem;
        margin-top: 2rem;
    }
    
    // &__header {
    //     grid-area: header;
    // }
}

.search-bar-container {
    display: flex;
    margin: 1.5rem 0;

    &__tag-item {
        padding: .8rem 1.5rem;
        margin: 0 .75rem;
        border-radius: 30px;
        background-color: var(--color-light-gray);
        color: var(--color-dark-gray);
        font-size: 1.5rem;
    }
}

.top-slider {
    height: 70vh;
    width: 100%;
    background-color: #89AFC2;
}

.top-banner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    background-color: var(--color-secondary);

    &__inner-container {
        width: 100%;
        max-width: 980px;
        display: flex;
        justify-content: space-between;
    }

    // &__text-container {
    //     margin-right: 20rem;
    // }

    &__text {
        font-size: 3rem;
        font-weight: bold;
    }
}

@media only screen and (max-width: 1440px) {
    .search-bar {
        &__tag-item {
            font-size: 1.2rem;
        }
    }

    .top-slider {
        &__inner-container {
            max-width: 780px;
            padding: 1rem;
        }
    }

    .top-banner {
        &__inner-container {
            max-width: 800px;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .search-bar-container {
        display: none;
    }

    .top-slider {
        &__inner-container {
            flex-direction: column;
        }
    }

    .home-page {
        &__promotionnal-banner-container {
            grid-template-columns: 1fr;
            row-gap: 2rem; 
        }
    }
}