.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    // position: relative;
    background-color: gray;
}

.login {
    width: 35rem;
    // position: absolute;
    // right: 5rem;
    // top: 50%;
    padding: 4rem 2rem;
    background-color: var(--color-primary);
    border-radius: 3px;

    &__heading {
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 2rem;
    }

    &__facebook-btn {
        display: flex;
        align-items: center;
        padding: 1rem;
        background-color: blue;
        color: var(--color-primary);
        font-size: 1.2rem;
        // border-radius: 3px;
    }

    &__facebook-img {
        width: 3rem;
        height: 3rem;
        color: var(--color-primary);
        margin-right: .5rem;
    }

    &__or-container {
        width: 100%;
        display: grid;
        grid-template-columns: 10fr 1fr 10fr;
        column-gap: 1rem;
        align-items: center;
        margin: 2rem 0;
        color: var(--color-gray);
    }

    &__horizontal-line {
        // width: 48%;
        height: 1px;
        background-color: var(--color-light-gray);
    }

    &__restore-link {
        display: inline-block;
        margin-bottom: 2rem;
    }

    &__input {
        margin-bottom: 2rem;
    }

    &__log-in-btn {
        max-width: none;
    }
}