.tutorials {
    display: flex;
    flex-direction: column;

    &__top-screen {
        height: 100vh;
        display: flex;
        // flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../img/tutorials-bg.png");
        // background-image: url("../img/tutorials-bg.png");
        mix-blend-mode: darken;
        color: var(--color-primary);
    }

    &__top-screen {
        &-text-container {
            width: 55rem;
            display: flex;
            flex-direction: column;
            text-align: center;
        }

        &-text {
            font-size: 1.3rem;
            line-height: normal;
        }
    }

    &__heading {
        font-size: 5.5rem;
        font-weight: bold;
        margin-bottom: 3rem;
    }

    &__tutorials-container {
        display: flex;
        flex-direction: column;
    }
}

.tutorials-container {
    &__tutorials-categories-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 4rem;
        margin: 5rem 0;
    }

    &__tutorials-categories-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        // width: 15rem;
        // height: 15rem;
    }

    &__tutorials-categories-item-img {
        width: 15rem;
        height: 15rem;
        margin-bottom: 2rem;
        background: url("../img/build.jpg") center/cover;

    }

    &__tutorials-categories-item-header {
        font-size: 2rem;
    }

    &__tutorials-grid-container {
        margin: 5rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__tutorials-grid-item {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 2rem;
    }
}