.pointer {
    cursor: pointer;
}

.justify-self-center {
    justify-self: center;
}

.caret {
    width: 1rem;
    height: 1rem;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.link {
    color: var(--color-secondary)
}