.categories-container {
    width: 100%;
    display: grid;
    row-gap: 2rem;
    // margin-top: 5rem;
}

.categories {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-self: center;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--color-black);
    }
}

@media only screen and (max-width: 768px) {
    .categories {
        grid-template-columns: repeat(3, 1fr);
    }
}