.section-categories {
    height: 90vh;
    background-color: silver;
    margin: 10rem 5rem;
}

.categories-cont {
    display: flex;
    //to wrap onto multiple lines
    flex-wrap: wrap;
    justify-content: center;

    &__item {
        margin: 2rem;
        height: 20rem;
        width: 20rem;
        background-color: red;
        display: flex;
    }

    &__item-cat {
        align-self: flex-end;
        font-size: 2.5rem;
    }
}

// .banner {
//     height: 20vh;
//     background-color: $color-secondary-dark;
//     display: flex;
//     justify-content: space-evenly;
//     align-items: center;
// }

.section-popular-products {
    width: 100%;
    margin: 10rem 0;

    &__heading {
        margin-bottom: 5rem;
    }
}

.products-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    row-gap: 2rem;
    column-gap: 2rem;
    // margin: 5rem 0;

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        // margin: 2rem;
        // height: 25rem;
        width: 24rem;
        padding: 2rem;
        background-color: var(--color-light-gray);
        font-size: 2rem;

        &-img-container {
            width: 100%;
        }

        &-img {
            width: 100%;
            height: auto;
        }

        &-heading {
            margin-top: 1rem;
        }

        &-stars {
            margin-top: 1rem;
        }

        &-price-container {
            margin-top: 1rem;
            display: flex;
            align-items: center;
        }

        &-price {
            font-size: 2rem;
            font-weight: bold;
            margin-right: .5rem;
        }

        &-price-unit {
            color: var(--color-gray);
            font-size: 1.2rem;
        }

        &-button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 1rem 0;
            margin-top: 1rem;
            background-color: var(--color-secondary);
        }
    }
}

@media only screen and (max-width: 1024px) {
    .products-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 768px) {
    .products-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 500px) {
    .products-container {
        display: grid;
        
        &__item {
            width: 16rem;
            font-size: 1.3rem;

            &-price {
                font-size: 1.5rem;
            }

            &-price-unit {
                font-size: .9rem;
            }
        }
    }
}