//////////////////////
/////Home Page

.section-categories {
    height: 90vh;
    background-color: silver;
    margin: 10rem 5rem;
}

.categories-cont {
    display: flex;
    //to wrap onto multiple lines
    flex-wrap: wrap;
    justify-content: center;

    &__item {
        margin: 2rem;
        height: 20rem;
        width: 20rem;
        background-color: red;
        display: flex;
    }

    &__item-cat {
        align-self: flex-end;
        font-size: 2.5rem;
    }
}

// .banner {
//     height: 20vh;
//     background-color: $color-secondary-dark;
//     display: flex;
//     justify-content: space-evenly;
//     align-items: center;
// }

// .section-popular-products {
//     margin: 10rem 5rem;
//     background-color: greenyellow;
//     height: 90vh;
// }

.products-container {
    display: flex;
    justify-content: center;
    // flex-wrap: wrap;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem;
        // height: 25rem;
        // width: 25rem;
        background-color: slateblue;
        font-size: 2rem;

        &__item-img {
            width: 100%;
            height: auto;
        }

        &-heading {
            margin-top: 1rem;
        }

        &-stars {
            margin-top: 1rem;
        }

        &-price {
            margin-top: 1rem;
        }

        &-button {
            background-color: var(--color-secondary);
        }
    }
}