//////////////////////
/////Home Page

.section-slideshow {
    height: 70vh;
    background-color: silver;
}

.banner {
    height: 20vh;
    background-color: $color-secondary-dark;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.heading-primary {
    font-weight: 800;
    font-size: 3.5rem;
    color: $color-primary;
}

.products-cont {
    display: flex;
    justify-content: center;
    align-items: center;

    &__item {
        margin: 5rem;
        height: 35rem;
        width: 25rem;
        background-color: slateblue;
    }
}

.section-popular-products {
    margin: 10rem 5rem;
}

.heading-secondary {
    font-weight: 800;
    font-size: 3rem;
    color: $color-secondary-dark;
}

