.footer {
    background-color: var(--color-dark-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__main-container {
        max-width: 1180px;
        margin: 60px 0;
        width: 100%;
        display: grid;
        justify-content: center;
        grid-template-areas:
                        "footer-top-left footer-top-middle footer-top-right"
                        "footer-bottom-left footer-bottom-middle footer-bottom-right";
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 2.5rem;
        // grid-template-rows: 1fr 1fr;
        justify-content: space-between;
        color: var(--color-primary);
    }

    &__top-left {
        grid-area: footer-top-left;
    }

    &__bottom-left {
        grid-area: footer-bottom-left;
    }

    &__top-middle {
        grid-area: footer-top-middle;
    }

    &__bottom-middle {
        grid-area: footer-bottom-middle;
    }

    &__top-right {
        grid-area: footer-top-right;
    }

    &__bottom-right {
        grid-area: footer-bottom-right;
    }

    &__logo-container {
        width: 150px;
    }

    &__logo {
        width: 100%;
        height: auto;
    }

    &__contact-info-container {
        margin-bottom: 2.5rem;
    }

    &__link {
        color: var(--color-secondary);
    }

    &__header {
        font-weight: bold;
    }

    &__text {
        margin-bottom: 1.6rem;
    }

    &__lets-get-connected {
        margin-bottom: 1.6rem;
    }

    &__get-ten-percent-off {
        margin-bottom: 1.6rem;
    }

    &__footer-legal-container {
        width: 100%;
        max-width: 1180px;
        padding: 2rem 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.footer-legal-container__links-container {
    display: flex;
}

.footer-legal-container__link-item {
    color: var(--color-gray);
}

.footer-legal-container__copyright-container {
    color: var(--color-gray);
}

.footer-content__column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@media only screen and (max-width: 768px) {
    .footer {
        &__footer-content {
            grid-template-columns: 1fr;
        }
    }
}