.footer {
    background-color: var(--color-dark-gray);
    display: flex;
    justify-content: center;

    &__footer-content {
        max-width: 1180px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__logo-container {
        width: 150px;
    }

    &__logo {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 768px) {
    .footer {
        &__footer-content {
            flex-direction: column;
        }
    }
}