.footer {
    background-color: var(--color-dark-gray);
    display: flex;
    justify-content: center;

    &__footer-content {
        max-width: 1180px;
        margin: 60px 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        color: var(--color-primary);
    }

    &__logo-container {
        width: 150px;
        margin-bottom: 2.5rem;
    }

    &__contact-info-container {
        margin-bottom: 2.5rem;
    }

    &__logo {
        width: 100%;
        height: auto;
    }

    &__link {
        color: var(--color-secondary);
    }
}

.footer-content__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media only screen and (max-width: 768px) {
    .footer {
        &__footer-content {
            flex-direction: column;
        }
    }
}