.container {
    display: flex;
    justify-content: center;
    //if not enough space, then 100% of the viewport width
    background-color: var(--color-dark-gray);
    // box-shadow: black;
}

.header {
    max-width: 1180px;
    font-size: 1.4rem;
    // height: 10vh;
    display: flex;
    //to align elements along the main axes
    justify-content: space-between;
    align-items: center;
    //to align elements along the cross axes
    align-self: stretch;
    // box-shadow: 0 0.2rem 0.1rem grey;

    &__logo-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

//ICONS
.logo {
    height: 3.3rem;
    // margin-left: 5rem;
    align-self: center;
}

.cart {
    display: flex;
    align-items: center;
    margin-left: 16rem;

    &__img {
        display: block;
        margin-right: 0.5rem;
    }

    &__text {
        color: var(--color-secondary);
        white-space: nowrap;
    }
}

.user {
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 6rem;

    &__user-name {
        color: var(--color-primary);
        white-space: nowrap;
    }

    &__login-link {
        color: var(--color-primary);
    }

    &__login {
        padding: 2.4rem 0;
    }

    &__avatar-container {
        height: 42px;
        width: 42px;
        margin-left: 1rem;
    }

    &__avatar {
        width: 100%;
        height: 100%;
    }
}