.container {
    display: flex;
    justify-content: center;
    //if not enough space, then 100% of the viewport width
    background-color: var(--color-dark-gray);
    // box-shadow: black;
}

.header {
    max-width: 1180px;
    font-size: 1.4rem;
    // height: 10vh;
    display: flex;
    //to align elements along the main axes
    justify-content: space-between;
    align-items: center;
    //to align elements along the cross axes
    align-self: stretch;
    // box-shadow: 0 0.2rem 0.1rem grey;

    &__right {
        display: flex;
        align-items: center;
    }

    &__logo-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__icons-container {
        display: flex;
    }

    &__search {
        display: none;
    }
}

.search {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        border: 1px solid grey;
        padding: .7rem 2rem;
        border-radius: 0.5rem;
        min-width: 20rem;
        width: 50%;
        transition: all .2s;

        &:focus {
            width: 100%;
            outline: none;
        }

        &::-webkit-input-placeholder {
            font-weight: 900;
        }
    }

    &__input:focus {
        background-color: lightgrey;
    }

}

//ICONS
.logo {
    height: 3.3rem;
    // margin-left: 5rem;
    align-self: center;
}

.nav-cart {
    display: flex;
    align-items: center;
    margin-left: 16rem;

    &__img {
        display: block;
        // margin-right: 2.2rem;
        margin-right: .5rem;
    }

    &__text {
        color: var(--color-secondary);
        white-space: nowrap;
    }
}

.user {
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 6rem;

    &__user-name {
        color: var(--color-primary);
        white-space: nowrap;
    }

    &__link {
        height: 100%;
        display: flex;
        align-items: center;
        color: var(--color-primary);
    }

    &__login {
        padding: 2.4rem 0;
    }

    &__avatar-container {
        height: 42px;
        width: 42px;
        margin-left: 1rem;
    }

    &__avatar {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 1150px) {
    .header {
        width: 90%;

        &__search {
            display: block;
            margin-right: 1.5rem;
            margin-left: 1.5rem;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .nav-cart {
        margin-left: 1.5rem;
        margin-right: 1.5rem;

        &__text-number {
            display: none;
        }

        &__text-items {
            display: none;
        }
    }
}

@media only screen and (max-width: 910px) {
    .nav-cart {
        margin-left: 4rem;
    }
}

@media only screen and (max-width: 850px) {
    .nav-cart {
        margin-left: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .header {
        max-width: initial;
        width: 100%;
        padding: 1.1rem 2rem;

        // &__logo-container {
        //     margin-left: 2rem;
        // }

        &__search {
            width: 100%;
            display: block;
            margin-left: 3rem;
            margin-right: 1.5rem;
        }
    }

    .nav-cart {
        margin-left: 0;
    }

    .user {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .search {
        &__input {
            min-width: initial;
            width: 100%;
        }
    }
}