.container {
    display: flex;
    justify-content: center;
    //if not enough space, then 100% of the viewport width
    background-color: var(--color-dark-gray);
    // box-shadow: black;
}

.header {
    max-width: 1180px;
    font-size: 1.4rem;
    // height: 10vh;
    display: flex;
    //to align elements along the main axes
    justify-content: space-between;
    align-items: center;
    //to align elements along the cross axes
    align-self: stretch;
    // box-shadow: 0 0.2rem 0.1rem grey;

    &__logo-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__icons-container {
        display: flex;
    }

    &__search {
        display: none;
    }
}

//ICONS
.logo {
    height: 3.3rem;
    // margin-left: 5rem;
    align-self: center;
}

.cart {
    display: flex;
    align-items: center;
    margin-left: 16rem;

    &__img {
        display: block;
        margin-right: 0.5rem;
    }

    &__text {
        color: var(--color-secondary);
        white-space: nowrap;
    }
}

.user {
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 6rem;

    &__user-name {
        color: var(--color-primary);
        white-space: nowrap;
    }

    &__login-link {
        color: var(--color-primary);
    }

    &__login {
        padding: 2.4rem 0;
    }

    &__avatar-container {
        height: 42px;
        width: 42px;
        margin-left: 1rem;
    }

    &__avatar {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 1150px) {
    .header {
        width: 90%;

        &__search {
            display: block;
            margin-right: 1.5rem;
            margin-left: 1.5rem;
        }

        .user {
            display: none;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .cart {
        margin-left: 1.5rem;
        margin-right: 1.5rem;

        &__text-number {
            display: none;
        }

        &__text-items {
            display: none;
        }
    }
}

@media only screen and (max-width: 910px) {
    .cart {
        margin-left: 4rem;
    }
}

@media only screen and (max-width: 850px) {
    .cart {
        margin-left: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .header {
        max-width: initial;
        width: 100%;

        &__logo-container {
            margin-left: 2rem;
        }

        &__search {
            width: 100%;
            display: block;
            margin-left: 3rem;
            margin-right: 1.5rem;
        }
    }

    .cart {
        margin-left: 0;
    }
}