.container {
    display: flex;
    justify-content: center;
    //if not enough space, then 100% of the viewport width
    background-color: var(--color-dark-gray);
    // box-shadow: black;
}

.header {
    max-width: 1180px;
    font-size: 1.4rem;
    height: 10vh;
    display: flex;
    //to align elements along the main axes
    justify-content: space-between;
    //to align elements along the cross axes
    align-self: stretch;
    // box-shadow: 0 0.2rem 0.1rem grey;

    &__logo-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

//ICONS
.logo {
    height: 3.3rem;
    margin-left: 5rem;
    align-self: center;
}

.cart {
    display: flex;
    align-items: center;
    margin-right: 6rem;

    &__img {
        //display: block;
        margin-right: 0.5rem;
    }

    &__text {
        color: var(--color-primary);
    }
}

.user {
    display: flex;

    &__dropdown {
        margin-right: 5rem;
    }
}