.navigation {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-left: 18rem;
}

.nav {
    font-size: 1.6rem;
    list-style: none;
    display: flex;

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        // &:not(:last-child) {
        //     margin-right: .5rem;
        // }
    }

    &__link,
    &__link:link,
    &__link:visited {
        color: var(--color-primary);
        text-decoration: none;
        display: block;
        padding: 2.4rem;
    }

    &__link:hover {
        color: silver;
    }
}

.navigation-mobile {
    display: none;
}

@media only screen and (max-width: 1440px) {
    .navigation {
        margin-left: 10rem;
    }

    .nav {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 1024px) {
    .navigation {
        margin-left: 8rem;
    }
}

@media only screen and (max-width: 910px) {
    .navigation {
        margin-left: 4rem;
    }
}

@media only screen and (max-width: 768px) {
    .navigation {
        display: none;
    }

    .navigation-mobile {
        display: block;

        &__hamburger {
            width: 16px;
            height: 16px;
            margin: 2rem;
        }
    }
}