.navigation {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-left: 18rem;
}

.nav {
    font-size: 1.4rem;
    list-style: none;
    display: flex;

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        // &:not(:last-child) {
        //     margin-right: .5rem;
        // }
    }

    &__link:link,
    &__link:visited {
        color: var(--color-primary);
        text-decoration: none;
        // text-transform: uppercase;
        display: block;
        padding: 2.4rem;

    }

    &__link:hover {
        color: silver;
    }

}