.product-cards-container {
    width: 100%;
    display: grid;
    row-gap: 5rem;
}

.product-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    row-gap: 2rem;
    column-gap: 2rem;

    &__product-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 24rem;
        padding: 2rem;
        background-color: var(--color-light-gray);
        font-size: 2rem;
    }
}

.product-card {
    &__img-container {
        width: 100%;
    }

    &__img {
        width: 100%;
        height: auto;
    }

    &__heading {
        margin-top: 1rem;
    }

    &__stars {
        margin-top: 1rem;
    }

    &__price-container {
        margin-top: 1rem;
        display: flex;
        align-items: center;
    }

    &__price {
        font-size: 2rem;
        font-weight: bold;
        margin-right: .5rem;
    }

    &__price-unit {
        color: var(--color-gray);
        font-size: 1.2rem;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 1rem 0;
        margin-top: 1rem;
        background-color: var(--color-secondary);
    }
}

@media only screen and (max-width: 1024px) {
    .product-cards {
        grid-template-columns: repeat(3, 1fr);

        &__product-card {
            width: 22rem;
        }
    }
}

@media only screen and (max-width: 768px) {
    .product-cards {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;

        &__product-card {
            width: 22rem;
        }
    }
}

@media only screen and (max-width: 500px) {
    .product-cards {
        &__product-card {
            width: 22rem;
    
            &__price {
                font-size: 1.5rem;
            }
    
            &__price-unit {
                font-size: .9rem;
            }
        }
    }
}