.product {
    &__top {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 2rem 0;
    }

    &__title {
        font-size: 6rem;
        font-weight: bold;
    }

    &__price-container {
        display: flex;
        align-items: center;
        margin-top: 5rem;
    }

    &__price {
        font-size: 3rem;
        font-weight: bold;
    }

    &__price-unit {
        font-size: 2rem;
    }

    &__quantity-info-container {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr;
        grid-template-rows: 1fr 1fr;
        margin-top: 2rem;
        
        &-title {
            color: var(--color-gray);
        }

        &-info {
            margin-top: 1rem;
            font-size: 1.6rem;
            font-weight: bold;
        }
    }

    &__add-to-cart-btn {
        grid-column: 2 / 4;
        max-width: none;
    }

    &__product-info {
        font-size: 2rem;
        color: var(--color-dark-gray);
        line-height: 120%;
    }

    &__use-images {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }
}

@media only screen and (max-width: 768px) {
    .product {
        &__top {
            grid-template-columns: 1fr;
        }

        &__quantity-info-container {
            grid-template-columns: 1fr;
        }

        &__add-to-cart-btn {
            grid-column: none;
        }
    }
}