.reviews {
    display: grid;
    row-gap: 3rem;
    grid-auto-flow: column;
}

.review {
    &__top {
        display: flex;
    }

    &__review-author-container {
        display: flex;
        flex-direction: column;
    }
}