.reviews-container {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

.reviews {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    row-gap: 3rem;
}

.review {
    display: grid;
    row-gap: 2rem;

    &__top {
        display: flex;
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__heading {
        font-size: 2rem;
    }

    &__review-author-container {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        font-size: 1.6rem;
        line-height: normal;
    }
}

@media only screen and (max-width: 768px) {
    .reviews {
        // grid-template-columns: 1fr;
    }
}