.search {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__input {

        font-family: inherit;
        font-size: inherit;
        color: inherit;
        border: 1px solid grey;
        padding: .7rem 2rem;
        border-radius: 0.5rem;
        width: 50%;
        transition: all .2s;

        &:focus {
            width: 70%;
            outline: none;
            //background-color: darkgray;
        }

        &::-webkit-input-placeholder {
            font-weight: 900;
        }
    }

    &__input:focus {
        background-color: lightgrey;
    }

}