:root {
  --color-primary: #FFFFFF;
  --color-secondary: #FFCE3A;
  --color-black: #000000;
  --color-gray: #879095;
  --color-dark-gray: #353B3E;
  --color-light-gray: #CFD7DC;
  --color-gray-stroke: #979797; }

/* selecting each and every element on the page and applying reset to it */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /*border box inherited from body*/
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  /*easier to calculate props: total  width and height will include paddings */
  box-sizing: border-box; }

/*  
    Below is part of reset.css
    http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

.heading-primary {
  font-weight: 800;
  font-size: 3.5rem;
  color: #000000; }

.heading-secondary {
  font-weight: 800;
  font-size: 3rem;
  color: #444444;
  padding: 2rem 5rem; }

.header {
  font-size: 1.4rem;
  height: 10vh;
  display: flex;
  background-color: var(--color-dark-gray);
  justify-content: space-between;
  align-self: stretch; }

.container {
  background-color: lightblue; }

.logo {
  height: 3.3rem;
  margin-left: 5rem;
  align-self: center; }

.cart {
  display: flex;
  align-items: center;
  margin-right: 6rem; }
  .cart__img {
    margin-right: 0.5rem; }

.user {
  display: flex; }
  .user__dropdown {
    margin-right: 5rem; }

.navigation {
  width: 100%;
  display: flex;
  justify-content: center; }

.nav {
  font-size: 1.4rem;
  list-style: none;
  display: flex; }
  .nav__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .nav__item:not(:last-child) {
      margin-right: .5rem; }
  .nav__link:link, .nav__link:visited {
    color: var(--color-primary);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem; }
  .nav__link:hover {
    color: silver; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: 1px solid grey;
    padding: .7rem 2rem;
    border-radius: 0.5rem;
    width: 50%;
    transition: all .2s; }
    .search__input:focus {
      width: 70%;
      outline: none; }
    .search__input::-webkit-input-placeholder {
      font-weight: 900; }
  .search__input:focus {
    background-color: lightgrey; }

.section-categories {
  height: 90vh;
  background-color: silver;
  margin: 10rem 5rem; }

.categories-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .categories-cont__item {
    margin: 2rem;
    height: 20rem;
    width: 20rem;
    background-color: red;
    display: flex; }
  .categories-cont__item-cat {
    align-self: flex-end;
    font-size: 2.5rem; }

.section-popular-products {
  margin: 10rem 5rem;
  background-color: greenyellow;
  height: 90vh; }

.products-cont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .products-cont__item {
    margin: 2rem;
    height: 25rem;
    width: 25rem;
    background-color: slateblue;
    font-size: 2rem;
    display: flex;
    flex-direction: column; }
    .products-cont__item-heading {
      margin-top: 1rem; }
    .products-cont__item-stars {
      margin-top: 1rem; }
    .products-cont__item-price {
      margin-top: 1rem; }

.wrapper {
  display: flex;
  justify-content: center; }

.btn-store {
  background-color: #FFD557;
  height: 5rem;
  width: 20rem;
  border-radius: 0.5rem;
  font-weight: 700;
  color: #FFFFFF;
  font-size: 2rem;
  text-align: center;
  line-height: 2.5; }

/*# sourceMappingURL=main.css.map */
